@import url('https://fonts.googleapis.com/css?family=Nunito');

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	letter-spacing: .2rem;
	overflow-x:hidden;
}
h1, h2, h3, h4 {
	color: #ffffff;
	font-weight: 700;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
p {
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: justify;
}
a {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2rem;
	text-decoration: none;
}
img {
	vertical-align: bottom;
	height: auto;
	width: 100%;
}
button.button {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 3rem;
	color: #ffffff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .2rem;
	padding: 1.5rem 3rem;
	text-transform: uppercase;
}
button.button:hover,
button.button:focus {
	background-color: rgba(255, 255, 255, .3);
	border: 1px solid rgba(255, 255, 255, .3);
	-webkit-box-shadow: 0 0 1rem rgba(255, 255, 255, .3);
	box-shadow: 0 0 1rem rgba(255, 255, 255, .3);
	outline: none;
	-webkit-transition: background-color 1s ease, border 1s ease, -webkit-box-shadow 1s ease;
	transition: background-color 1s ease, border 1s ease, -webkit-box-shadow 1s ease;
	-o-transition: background-color 1s ease, border 1s ease, box-shadow 1s ease;
	transition: background-color 1s ease, border 1s ease, box-shadow 1s ease;
	transition: background-color 1s ease, border 1s ease, box-shadow 1s ease, -webkit-box-shadow 1s ease;
}

/* sidebar style */
#sidebar {
	background-color: #312450;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 25rem;
}
.sidebar_inner {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 4rem;
}
.sidebar_inner nav li {
	margin-bottom: 3rem;
}
.sidebar_inner nav li:last-child {
	margin-bottom: 0rem;
}
.sidebar_inner nav a {
	border: 0;
	color: rgba(255, 255, 255, 0.35);
	cursor: pointer;
	display: block;
	padding-bottom: 1.5rem;
	position: relative;
	text-transform: uppercase;
}
.sidebar_inner nav a:before {
	content: '';
	background-color: #3c2c62;
	position: absolute;
	bottom: 0;
	right: 0;
	height: .2rem;
	width: 100%;
}
.sidebar_inner nav a:after {
	content: '';
	background-image: -webkit-gradient(linear, left top, right top, from(#5e42a6), to(#b74e91));
	background-image: -webkit-linear-gradient(left, #5e42a6, #b74e91);
	background-image: -o-linear-gradient(left, #5e42a6, #b74e91);
	background-image: linear-gradient(to right, #5e42a6, #b74e91);
	position: absolute;
	bottom: 0;
	right: 0;
	height: .2rem;
	width: 100%;
	max-width: 0;
	-webkit-transition: max-width .2s ease, color .2s ease;
	-o-transition: max-width .2s ease, color .2s ease;
	transition: max-width .2s ease, color .2s ease;
}
.sidebar_inner nav a.active {
	color: #ffffff;
}
.sidebar_inner nav a.active:after {
	content: '';
	max-width: 100%;
}

/* wrapper style */
#wrapper {
	margin-left: 25rem;
}

/* main style */
.main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* home style */
.home {
	background: url(../images/intro.svg) center no-repeat fixed, #5E42A6 fixed;
	background-size: 100% 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 5rem;
	height: 100vh;
}
.home p {
	margin: 3rem 0 5rem;
}
.home a {
	font-size: 1.5rem;
}

/* about style */
.about_item1, .about_item2, .about_item3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}
.about_item1 {
	background-color: #5052b5;
}
.about_item2 {
	background-color: #4c4eac;
}
.about_item3 {
	background-color: #484aa3;
}
.about img {
	width: 35rem;
}
.about_item__description {
	padding: 0 5rem;
}
.about_item__description p {
	padding: 1.5rem 0 3rem;
}

/* work style */
.work {
	background-color: #b74e91;
}
.work_container {
	padding: 4rem;
}
.work_title {
	margin-bottom: 3rem;
	overflow: hidden;
}
.work_title h2 {
	margin-bottom: 1rem;
}
.work_content {
	border: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 3rem;
}
.work_item {
	background-color: rgba(255, 255, 255, .1);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
}
.work_item:nth-child(even) {
	border-left: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.work_item:nth-child(odd) {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.work_item__image i {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 50%;
	color: #b74e91;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 1.5rem;
	margin: 2rem 1rem 0rem 2rem;
	height: 4rem;
	width: 4rem;
}
.work_item__image i:before {
	padding-left: .3rem;
}
.work_item__description {
	padding: 2rem 2rem 3rem 1rem;
}

/* feedback style */
.feedback {
	background-color: #5e42a6;
}
.feedback_container {
	padding: 4rem;
}
.feedback_title {
	margin-bottom: 3rem;
	overflow: hidden;
}
.feedback_title h2 {
	margin-bottom: 1rem;
}
.feedback_content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.feedback_form {
	border-right: 1px solid rgba(255, 255, 255, .4);
	overflow: hidden;
	padding-right: 2rem;
	width: 65%;
}
.feedback_form input, .feedback_form textarea {
	width: 100%;
}
.feedback_form label {
	color: #ffffff;
	font-size: 1.75rem;
	font-weight: 700;
}
.feedback_form input, .feedback_form textarea {
	background-color: rgba(255, 255, 255, .1);
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: .3rem;
	color: #ffffff;
	margin: 2rem 0;
	outline: 0;
	padding: 1rem;
}
.feedback_form input:focus,
.feedback_form textarea:focus {
	border: 1px solid rgba(255, 255, 255, 1);
}
.feedback_form .field.half:nth-child(1) {
	padding-right: 1rem;
}
.feedback_form .field.half:nth-child(2) {
	padding-left: 1rem;
}
.feedback_form .field.half {
	float: left;
	width: 50%;
}
.feedback_contact {
	padding-left: 2rem;
	width: 35%;
}
.feedback_contact h3 {
	padding-bottom: .5rem;
}
.feedback_contact p {
	padding-bottom: 2rem;
}
.feedback_soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.feedback_soc i {
	margin-top: 1rem;
	margin-right: 2rem;
	font-size: 1.5rem;
}

/* footer style */
.footer {
	background-color: #493382;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 5rem;
	height: 10rem;
}
.footer h4 {
	color: rgba(255, 255, 255, .6);
}
.footer h4 span {
	margin: 0 1.5rem;
}
.footer h4 br {
	display: none;
}

@media (min-width: 2560px) {
	html, body {
		font-size: 18px;
	}
}
@media (min-width: 1200px) and (max-width: 1440px) {
	html, body {
		font-size: 12px;
	}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 13px;
	}

	/* sidebar style */
	#sidebar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		/*text-align: center;*/
		height: 6rem;
		width: 100%;
		z-index: 999;
	}
	.sidebar_inner {
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		padding: 2rem;
	}
	.sidebar_inner ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.sidebar_inner nav li {
		margin-bottom: 0rem;
		margin: 0 1rem;
	}

	/* wrapper style */
	#wrapper {
		padding-top: 6rem;
		margin-left: 0rem;
	}

	/* home style */
	.home {
		height: calc(100vh - 6rem);
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 2rem;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 12px;
	}

	/* sidebar style */
	#sidebar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		/*text-align: center;*/
		height: 6rem;
		width: 100%;
		z-index: 999;
	}
	.sidebar_inner {
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		padding: 2rem;
	}
	.sidebar_inner ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.sidebar_inner nav li {
		margin-bottom: 0rem;
		margin: 0 1rem;
	}

	/* wrapper style */
	#wrapper {
		padding-top: 6rem;
		margin-left: 0rem;
	}

	/* home style */
	.home {
		height: calc(100vh - 6rem);
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 2rem;
	}
	.home br {
		display: none;
	}

	/* about style */
	.about_item__description {
		padding: 0 2rem;
	}

	/* work style */
	.work_container {
		padding: 2rem;
	}

	/* feedback style */
	.feedback_container {
		padding: 2rem;
	}
	.feedback_content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.feedback_form {
		border-right: 0;
		padding-bottom: 3rem;
		padding-right: 0rem;
		text-align: center;
		width: 100%;
	}
	.feedback_form input, .feedback_form textarea {
		margin: 1rem 0;
	}
	.feedback_form .field {
		text-align: left;
	}
	.feedback_form .field.half:nth-child(1) {
		padding-right: 0rem;
	}
	.feedback_form .field.half:nth-child(2) {
		padding-left: 0rem;
	}
	.feedback_form .field.half {
		float: none;
		width: 100%;
	}
	.feedback_contact {
		padding-left: 0rem;
		text-align: center;
		width: 100%;
	}
	.feedback_contact p {
		text-align: center;
	}
	.feedback_soc {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	/* footer style */
	.footer {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0 2rem;
		text-align: center;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 11px;
	}

	/* sidebar style */
	#sidebar {
		display: none;
	}

	/* wrapper style */
	#wrapper {
		margin-left: 0rem;
	}

	/* home style */
	.home {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 2rem;
	}
	.home br {
		display: none;
	}

	/* about style */
	.about_item1, .about_item2, .about_item3 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
		padding-bottom: 2rem;
	}
	.about img {
		width: 100%;
	}
	.about_item__description {
		padding: 0 2rem;
	}

	/* work style */
	.work_container {
		padding: 2rem;
		text-align: center;
	}
	.work_title h2 {
		text-align: center;
	}
	.work_item {
		width: 100%;
	}
	.work_item:nth-child(even) {
		border-left: 0;
	}
	.work_item__image i {
		margin: 1rem .5rem 0 1rem;
	}
	.work_item__description {
		padding: 1rem 1rem 1rem .5rem;
	}
	.work_item__description h3 {
		text-align: left;
	}

	/* feedback style */
	.feedback_container {
		padding: 2rem;
	}
	.feedback_content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.feedback_form {
		border-right: 0;
		padding-bottom: 3rem;
		padding-right: 0rem;
		text-align: center;
		width: 100%;
	}
	.feedback_form input, .feedback_form textarea {
		margin: 1rem 0;
	}
	.feedback_form .field {
		text-align: left;
	}
	.feedback_form .field.half:nth-child(1) {
		padding-right: 0rem;
	}
	.feedback_form .field.half:nth-child(2) {
		padding-left: 0rem;
	}
	.feedback_form .field.half {
		float: none;
		width: 100%;
	}
	.feedback_contact {
		padding-left: 0rem;
		text-align: center;
		width: 100%;
	}
	.feedback_contact p {
		text-align: center;
	}
	.feedback_soc {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	/* footer style */
	.footer {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0 2rem;
		text-align: center;
	}
	.footer h4 br {
		display: block;
	}
	.footer h4 span {
		display: none;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 10px;
	}
}